body {
  background: #000;
  background-image: url("../img/bg.png");
  background-size: cover;
}

.container {
  padding-top: 30px;
}

h1 {
  color: #fff;
  font-family: 'Space Mono', monospace;
  font-size: 3rem;
  text-align: center;
  font-weight: 1000;
}

h1:hover {
  color: #8200df;
}

h2 {
  text-align: center;
}

img {
  max-width: 25%;
  padding: 15px;
  display: block;
  margin: 0 auto;
}

form {
  padding: 30px;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background-color: #23004a;
  padding: 20px 80px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 6px #bdc400;
}

.btn a {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.btn:hover {
  box-shadow: 0 4px #bdc400;
  top: 2px;
}

.btn:active {
  box-shadow: none;
  top: 6px;
}